<object
  name="dumbbell">
  <link
    name="dumbbell">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.06"/>
      <inertia ixx="0.0067e-4" ixy="0.0" ixz="0.0" iyy="0.0067e-4" iyz="0.0" izz="0.0067e-4" />
    </inertial>
    <visual>
      <origin
        xyz="1.5707963267949 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/objects/dumbbell.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="/objects/dumbbell.STL" />
      </geometry>
    </collision>
  </link>
</object>
