<world name="hubo_world_with_box">
  <!-- include the models here by referenceing their URDFs -->
  <include filename="hubo.urdf" model_name="jaemi"/>
  <include filename="diningchair.urdf" model_name="diningchair"/>
  <include filename="rollyTable.urdf" model_name="rollyTable"/>

  <entity model="jaemi" name="GolemHubo">
    <origin xyz="0 0 1.0" rpy="0 0 0"/>
  </entity>

  <entity model="rollyTable" name="rollyTable">
    <origin xyz="-1.0 0.8 1.0" rpy="0.0 0.0 0.0"/>
  </entity>

  <entity model="diningchair" name="diningchair">
    <origin xyz="-1.0 0.8 1.0" rpy="0.0 0.0 0.0"/>
  </entity>

</world>
