<world name="hubo_world_with_box">
  <!-- include the models here by referenceing their URDFs -->
  <include filename="hubo-models/huboplus.urdf" model_name="huboplus"/>
  <include filename="glassDiningTable2.urdf" model_name="glassDiningTable2"/>
  <include filename="orangeCubeObject_small.urdf" model_name="orangeCube"/>
  <include filename="yellowCubeObject_small.urdf" model_name="yellowCube"/>
  <!-- <include filename="cyanCubeObject_small.urdf" model_name="cyanCube"/> -->
  <entity model="huboplus" name="GolemHubo">
    <origin xyz="0 0 0.988" rpy="0 0 0"/>
  </entity>

  <entity model="glassDiningTable2" name="glassDiningTable2">
    <origin xyz="0.40 -0.13 0.45" rpy="1.57 0.0 0.0"/>
  </entity>

  <entity model="orangeCube" name="orangeCube">
    <origin xyz="0.40 -0.13 0.83" rpy="0.0 0.0 0.0"/>
  </entity>

  <entity model="yellowCube" name="yellowCube">
    <origin xyz="0.40 -0.13 0.935" rpy="0.0 0.0 0.0"/>
  </entity>

<!--  <entity model="cyanCube" name="cyanCube">
    <origin xyz="0.40 -0.13 1.04" rpy="0.0 0.0 0.0"/>
  </entity> -->

</world>
