<world name="hubo_world_with_box">
  <!-- include the models here by referenceing their URDFs -->
  <include filename="hubo-models/huboplus.urdf" model_name="huboplus"/>
  <include filename="greenBox2.urdf" model_name="greenBox2"/>

  <entity model="huboplus" name="GolemHubo">
    <origin xyz="0 0 0.988" rpy="0 0 0"/>
  </entity>

  <entity model="greenBox2" name="greenBox2">
    <origin xyz="-0.03 -0.42 0.50" rpy="1.57 0.0 0.0"/>
  </entity>


</world>
