<world name="hubo_world">
  <!-- include the models here by referenceing their URDFs -->
  <include filename="hubo-models/huboplus.urdf" model_name="jaemi"/>
  <include filename="glassDiningTable2.urdf" model_name="glassDiningTable2"/>
  <include filename="driving_wheel_full.urdf" model_name="wheel"/>
  <entity model="jaemi" name="GolemHubo">
    <origin xyz="0 0 0.988" rpy="0 0 0"/>
  </entity>

  <entity model="glassDiningTable2" name="glassDiningTable2">
    <origin xyz="0.58 -0.13 0.45" rpy="1.57 0.0 0.0"/>
  </entity>

  <entity model="wheel" name="wheel">
    <origin xyz="0.29 -0.00 0.887" rpy="1.57 0 3.14"/>
  </entity>
</world>
