# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
build/

# CMake files
CMakeCache.txt
CMakeFiles/
*.cmake
Makefile

# grip output
.lastload

# vim
*.swp

# profile
gmon.out
